main{
  background-color: #292c45;
  min-height: calc(100vh - 80px);
  color: white;
  padding-top: 50px;
}
.ab-navbar{
  height: 80px !important;
  background-color: #292c45;
  border-bottom: 1px solid #ffffff15;
}
