main{
  background-color: white;
  min-height: calc(100vh - 80px);
  color: #3951e8;
  padding-top: 50px;
}

.ab-navbar{
  height: 80px !important;
  background-color: #abd1fd;
  border-bottom: 1px solid #ffffff15;
}

.card-header{
  background-color: red !important;
}
