//home 

section{
  height: 125vh;
  .banner{
    text-align: center;
    // padding-top: 65px;
    color: #3951e8;
    .banner-text{
      max-width: 550px;
      margin: 0 auto;
      h1{
        font-size: 48px;
        font-weight: 700;
      }
      ul{
        display: flex;
        justify-content: center;
        li{
          list-style: none;
          margin: 20px 20px 0;
          position: relative;
          &:before{
            position: absolute;
            content: '';
            width: 10px;
            height: 10px;
            top: 5px;
            left: -25px;
            background-color: #3a9bdc;
            border-radius: 50px;
          }
          a{
            text-decoration: none;
            &:hover{
              border-color: #3951e8;
              background-color: transparent;
              color: white;
              box-shadow: 0 4px 94px #384fde;
            }
          }
        }
      }  
    }


    .logo{
      position: relative;
      .image{
        padding-top: 210px;
        img{
          width: 500px;
          background-color: rgb(238, 247, 255);
          border-radius: 50%;
          box-shadow: 0 4px 500px #384fde;
        }
      }
    }
    .circle{
      width: 756px;
      height: 756px;
      display: inline-block;
      border-radius: 50%;
      border: 1px solid #fff;
      position: absolute;
      top: 70px;
      left: 0;
      right: 0;
      margin: 0 auto;
      animation: circle 30s linear 0s infinite;
      @keyframes circle {
        to{
          transform: rotate(360deg);
        }
      }
      .icon{
        position: absolute;
        width: 100px;
        height: 100px;
        padding: 15px 25px 0px 5px;
        border-radius: 50%;
        border: 1px solid #fff;
        background-color: #3a9bdc;
        transition: all ease 0.5s;
        animation: circle 100s linear 0s infinite;
        @keyframes circle {
          to{
            transform: rotate(360deg);
          }
        }
        &:hover{
          border-color: #3951e8;
          background-color: #3a9bdc;
          box-shadow: 0 4px 94px #384fde;
        }
        &:nth-child(1){
          top: -40px;
          left: 41%;
        }
        &:nth-child(2){
          top: 70px;
          right: 50px;
        }
        &:nth-child(3){
          top: 330px;
          right: -50px;
        }
        &:nth-child(4){
          bottom: 60px;
          right: 60px;
        }
        &:nth-child(5){
          bottom: -40px;
          right: 41%;
        }
        &:nth-child(6){
          bottom: 70px;
          left: 45px;
        }
        &:nth-child(7){
          bottom: 575px;
          left: 45px;
        }
        &:nth-child(8){
          bottom: 328px;
          left: -55px;
        }
        img{
          width: 130%;
        }
      }
    }  
  }
}








